.text_editor {
  height: 500px;
  width: 100%;
  /* border: 1px solid black; */
  border: 0;
  font-family: "Courier New", Courier, monospace;
  padding: 15px;
  resize: none;
}

textarea:focus {
  outline: none;
}
