<button class="btn btn-sm btn-outline-danger float-end" (click)="alert()">Delete All Notes</button>
<h3 class="floast-start">Existing Notes</h3>
<ul class="list-group">
    <li class="list-group-item" *ngFor="let note of notes">
        <div class="ms-2 me-auto">
            <div class="fw-bold">{{note.title}} : {{note.createdDate}} : {{note.id}}
                <button class="btn btn-sm btn-outline-danger border-0 rounded-pill float-end"
                    (click)="alert(note)">
                    <fa-icon [icon]='faTrash'></fa-icon>
                </button>
                <button class="btn btn-sm btn-outline-dark border-0 rounded-pill float-end" (click)="alert(note)">
                    <fa-icon [icon]='faPencil'></fa-icon>
                </button>
            </div>
            {{note.text}}
        </div>
    </li>
    <hr>
</ul>