/* You can add global styles to this file, and also import other style files */
@import 'codemirror/lib/codemirror';

body {
  height: 100%;
}

textarea {
  width: 100%;
  height: 100vh;
}

.ngx-codemirror {
  /* border: 1px solid #ccc; */
  width: 100%;
  height: 100vh;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}