<div class="container">
    <h2 class="font-monospace">Preferences</h2>
    <div class="row">
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="autoSaveCheckbox" checked>
                <label class="form-check-label" for="autoSaveCheckbox">
                    Autosave
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="zenModeCheckbox" checked>
                <label class="form-check-label" for="zenModeCheckbox">
                    Zen mode (full page editor)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="showNavBarCheckbox">
                <label class="form-check-label" for="showNavBarCheckbox">
                    Show nav bar on editor page
                </label>
            </div>
        </div>
        <div class="col">
            <!-- empty col for spacing -->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="showLineNumbersCheckbox">
                <label class="form-check-label" for="showLineNumbersCheckbox">
                    Show line numbers
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="showNavBarCheckbox">
                <label class="form-check-label" for="wrapLines">
                    Wrap long lines
                </label>
            </div>
        </div>

        <div class="col">
            <!-- language selection -->
            <app-language-selector [dropdownLabel]="'Default language mode'"></app-language-selector>
            <!-- theme selection -->
            <app-theme-selector></app-theme-selector>
        </div>
    </div>
    <!-- Existing Notes -->
    <div class="mt-5">
        <app-existing-note-list [notes]="notes"></app-existing-note-list>
    </div>
    <footer class="bg-info font-monospace fixed-bottom">
        <p class="p-2 mb-0"><small>{{version}}</small></p>
    </footer>