<h2>Preferences</h2>
<div class="container">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="showLineNumbersCheckbox" checked>
        <label class="form-check-label" for="showLineNumbersCheckbox">
            Show line numbers
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="showLineNumbersCheckbox" checked>
        <label class="form-check-label" for="showLineNumbersCheckbox">
            Autosave
        </label>
    </div>
</div>