<h2 class="font-monospace">Preferences</h2>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="showLineNumbersCheckbox" checked>
                <label class="form-check-label" for="showLineNumbersCheckbox">
                    Show line numbers
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="showLineNumbersCheckbox" checked>
                <label class="form-check-label" for="showLineNumbersCheckbox">
                    Autosave
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="showLineNumbersCheckbox" checked>
                <label class="form-check-label" for="showLineNumbersCheckbox">
                    Zen mode (full page editor)
                </label>
            </div>
        </div>

        <div class="col">
            <!-- language selection -->
            <div class="input-group form-floating mb-2">
                <select class="form-select form-select-sm" id="languageSelection"
                    aria-label="Select default language setting">
                    <option *ngFor="let language of languages; index as i;">{{language}}</option>
                </select>
                <label for="languageSelection">Default editor language mode</label>
            </div>
            <!-- theme selection -->
            <div class="input-group form-floating">
                <select class="form-select form-select-sm" id="themeSelection"
                    aria-label="Select default language setting">
                    <option *ngFor="let theme of themes; index as i;">{{theme}}</option>
                </select>
                <label for="themeSelection">Theme</label>
            </div>
        </div>
    </div>
</div>
<footer class="bg-info font-monospace fixed-bottom">
    <p class="p-2 mb-0"><small>{{version}}</small></p>
</footer>