<button class="btn btn-sm btn-outline-primary float-end m-3" (click)="saveDoc()">Save</button>
<button class="btn btn-sm btn-outline-danger float-end m-3" (click)="getDoc()">Get Doc</button>
<button class="btn btn-sm btn-outline-danger float-end m-3" (click)="getAllDocs()">Get All Docs</button>
<button class="btn btn-sm btn-outline-danger float-end m-3" (click)="deleteDoc()">Delete Single Doc</button>
<button class="btn btn-sm btn-outline-danger float-end m-3" (click)="deleteAllDocs()">Delete All Docs</button>
<app-editor [data]="data"></app-editor>